body {
  background-color: #fff;
  color: #333;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.title,
.subtitle {
  color: #333;
}

#max {
  border-radius: 20px;
}

a {
  color: #207fcc;
}
a:hover {
  color: #333;
}

.hero {
  background-color: #fff;
}
